<%

function _menuItems(categories,submenu) {
  let res = '';
  for (const item of categories) {
    if (!item.catalog) {
      res += `<li class="nav-item"><a class="nav-link category-${item.id}" data-category-name="${item.categoryName}" href="${url('static/articles.html')}?categoryId=${item.id}&categoryName=${item.categoryName}">${item.categoryName}</a></li>`;
    } else {
      const _items = _menuItems(item.children,true);
      res += `
        <li class="nav-item ${submenu?'':'dropdown'}">
          <a href="#" class="nav-link">${item.categoryName} <i class="caret"></i></a>
          <ul class="navbar-nav">
            ${_items}
          </ul>
        </li>`;
    }
  }
  return res;
}

// categories
if (!site._categories) {
  // categories
  const res = await ctx.performAction({
    method:'post',
    url: '/a/cms/category/tree',
    body: {
      atomClass: site.atomClass,
      language: site.language.current,
      hidden: 0,
    },
  });
  site._categories=res.list;
}
// menu
if(!site._menuItems){
  site._menuItems = _menuItems(site._categories,false);
}

%>
<nav class="navbar navbar-default navbar-expand-lg bsnav">
    <a class="navbar-brand" href="<%=url('index.html')%>"><%=text('Home')%></a>
    <button class="navbar-toggler toggler-spring">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav navbar-mobile mr-0">
        <%- site._menuItems %>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav navbar-mobile mr-0">
          <li class="nav-item"><a class="nav-link" href="<%=url('static/comments.html')%>"><i class="fas fa-comment"></i></a></li>
          <%- await include('./language.ejs') %>
          <%- await include('./user.ejs') %>
        </ul>
        <form class="form-inline my-2 my-lg-0 search" action="<%=url('static/articles.html')%>">
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="<%=text('Search')%>" aria-label="Search">
          <button class="btn btn-default btn-outline-success my-2 my-sm-0" type="submit"><%=text('Submit')%></button>
        </form>
      </div>
    </div>

</nav>
