<%- await include('../layout/header.ejs') %>
<%
  // cache
  if(!site._docTree){
    site._docTree={
      relativeTop:{},
      tree:{},
    };
  }
  // relativeTop
  let relativeTop=site._docTree.relativeTop[article.categoryId];
  if(relativeTop===undefined){
    relativeTop=await ctx.performAction({
      method: 'post',
      url: '/a/cms/category/relativeTop',
      body: { categoryId: article.categoryId },
    });
    site._docTree.relativeTop[article.categoryId]=relativeTop;
    // tree
    let tree=null;
    if(relativeTop){
      tree=await ctx.performAction({
        method: 'post',
        url: '/a/cms/category/tree',
        body: {
          atomClass: site.atomClass,
          categoryId: relativeTop.id,
        },
      });
    }
    site._docTree.tree[relativeTop.id]=tree;
  }
  // env
  if(relativeTop){
    env('_docTree.relativeTop',relativeTop);
    env('_docTree.tree',site._docTree.tree[relativeTop.id]);
  }
%>
<div class="doc-container">
<div class="category-sidebar">
  <h3 class="title"></h3>
  <div class="tree"></div>
</div>
<article class="article-doc">
  <%- await include('../layout/article/title.ejs')%>
  <div class="article-body">
    <%- article.html %>
  </div>
  <%- await include('../layout/article/attachments.ejs') %>
  <%- await include('../layout/article/socialshare.ejs') %>
  <%- await include('../layout/article/stat.ejs') %>
  <%- await include('../layout/article/brothers.ejs') %>
  <%- await include('../layout/article/comments.ejs') %>
</article>
</div>
<%- await include('../layout/footer.ejs') %>
