<%- await include('../layout/header.ejs') %>
<div class="category-sidebar">
  <h3 class="title"></h3>
  <div class="tree"></div>
</div>
<article>
  <%- await include('../layout/article/title.ejs')%>
  <%- article.html %>
  <%- await include('../layout/article/attachments.ejs') %>
  <%- await include('../layout/article/socialshare.ejs') %>
  <%- await include('../layout/article/stat.ejs') %>
  <%- await include('../layout/article/brothers.ejs') %>
  <%- await include('../layout/article/comments.ejs') %>
</article>
<%- await include('../layout/footer.ejs') %>
