<%- await include('../layout/header.ejs') %>
<div class="row">
  <div class="col-sm-12">
    <article>
      <%- await include('../layout/breadcrumb.ejs') %>
      <%- await include('../layout/article/title.ejs')%>
      <div class="article-body">
        <table class="mx-auto">
          <tr>
            <td class="px-5"><%=text('Person Count')%></td>
            <td class="px-5"><%=article.personCount%></td>
         </tr>
         <tr>
            <td class="px-5"><%=text('Party Type')%></td>
            <td class="px-5"><%=article._meta.summary%></td>
         </tr>
         <tr>
            <td class="px-5 text-center" colspan="2"><%=article.partyOver?text('PartyOver'):''%></td>
         </tr>
        </table>
      </div>
      <%- await include('../layout/article/attachments.ejs') %>
      <%- await include('../layout/article/comments.ejs') %>
    </article>
  </div>
</div>
<%- await include('../layout/footer.ejs') %>
