  </div> <!-- container -->
  <footer style="display:none;">
      <span class="small">
        Powered by <a target="_blank" href="https://cms.cabloy.com">Cabloy-CMS</a>
        | Theme - <a target="_blank" href="<%=site._theme.url%>"><%=site._theme.name%></a>
        <% if(site.beian && site.beian.icp){ %>
        | <a href="https://beian.miit.gov.cn/"><%=site.beian.icp%></a>
        <% } %>
      </span>
  </footer>
  <script>
    // iframe
    var __footer = document.getElementsByTagName('footer')[0];
    if (window.self !== window.top) {
      __footer.style.display = 'none';
    } else {
      __footer.style.display = '';
    }
  </script>
  <div class="bsnav-mobile">
    <div class="bsnav-mobile-overlay"></div>
    <div class="navbar"></div>
  </div>
  <script src="<%=url('assets/lib/jquery.min.js')%>"></script>
  <script src="<%=url('assets/lib/bootstrap/bootstrap.min.js')%>"></script>
  <script src="__JS__"></script>
</body>
</html>
