<%- await include('../layout/header.ejs') %>
<div class="row">
  <div class="col-sm-8">
    <article>
      <%- await include('../layout/breadcrumb.ejs') %>
      <%- await include('../layout/article/title.ejs')%>
      <div class="article-body">
        <%- article.html %>
      </div>
      <%- await include('../layout/article/attachments.ejs') %>
      <%- await include('../layout/article/socialshare.ejs') %>
      <%- await include('../layout/article/stat.ejs') %>
      <%- await include('../layout/article/brothers.ejs') %>
      <%- await include('../layout/article/copyright.ejs') %>
      <%- await include('../layout/article/comments.ejs') %>
    </article>
  </div>
  <div class="col-sm-4">
    <%- await include('../layout/sidebar.ejs') %>
  </div>
</div>
<%- await include('../layout/footer.ejs') %>
