<div class="social-share"
  data-url="<%=url(article.url)%>"
  data-image="<%=article.imageFirst%>"
  data-sites="<%=site.plugins['cms-pluginsocialshare'].sites%>"
  data-mobile-sites="<%=site.plugins['cms-pluginsocialshare'].mobileSites%>"
  data-disabled="<%=site.plugins['cms-pluginsocialshare'].disabled%>"
  data-wechat-qrcode-title="<%=site.plugins['cms-pluginsocialshare'].wechatQrcodeTitle%>"
  data-wechat-qrcode-helper="<%=site.plugins['cms-pluginsocialshare'].wechatQrcodeHelper%>"
  data-wechat-qrcode-size="<%=site.plugins['cms-pluginsocialshare'].wechatQrcodeSize%>"
></div>
